# Dependencias de Composer
vendor/

# Configuración sensible
.env
storage/firebase_credentials.json


# Logs y caché
storage/logs/*
storage/cache/
*.log

# Archivos temporales y de sistema
*.cache
*.tmp
.DS_Store
Thumbs.db

# Docker y Composer (si no quieres versionarlos)
docker/php.ini
composer.lock
